* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: arial, sans-serif;
    overflow: scroll;
  }
  
  nav, footer {
    overflow: hidden;
    width: 100%;
  }
  
  footer {
    position: fixed;
    border-top: 1px solid #e4e4e4;
    background-color: #f2f2f2;
    height: 40px;
    bottom: 0;
  }
  
  .Top-left > a, .Top-Right > a {
    margin-right: 10px;
    color: black;
    font-size: 14px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .Top-left {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
  }
  
  .Top-Right {
    margin-top: 20px;
    float: right;
  }
  
  .Bottom-left > a, .Bottom-right > a {
    margin-right: 22px;
    color: #636386;
    font-size: 14px;
  }
  
  .Bottom-left {
    margin-top: 12px;
    margin-bottom: 15px;
    position: relative;
    bottom: 2px;
    left: 10px;
    float: left;
  }
  
  .Bottom-right {
    margin-top: 12px;
    margin-bottom: 15px;
    position: relative;
    bottom: 2px;
    left: 10px;
    float: right;
  }
  
  .Edit-box {
    margin: 0 auto;
    margin: 150px auto 0 auto;
    display: table;
    overflow: hidden;
    margin-top: 37px;
  }
  .logo1 {
      margin-left:100px;
  }
  .google-logo {
    display: block;
    margin: 0 auto;
  }
  
  
  button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    color: #5f6368;
    background-color: #f2f2f2;
    width: 133px;
    font-size: 14px;
    height: 36px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  button:hover {
    color: black;
    outline: none;
  }

  .sign-in-button {
    border: none;
    border-radius: 3px;
    background-color: teal;
    color: white;
    font-weight: bold;
    width: 70px;
    height: 30px;
    margin-right: 10px;
    cursor: default;
  }
  
  .sign-in-button:hover {
    color:black;
    text-decoration: underline;
  }
  
  input {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    width: 580px;
    height: 45px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    text-indent: 40px;
  }
  
  input:hover{
    box-shadow: 0 0 10px #e2e2e2;
    outline: none;
  }